<div class="card">
  <div class="mb-4">
    <h5 class="card-title">Pagamentos</h5>
    <h6 class="card-subtitle">Lista com todos os pagamentos recebidos.</h6>
  </div>

  <app-pagamento-filter
    (filter)="filter($event)"
    (clean)="clean()"></app-pagamento-filter>

  <div class="row mt-4">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary"
        (click)="openPagamentoSaveModal()">
        Receber Pagamento
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Identificação</th>
          <th scope="col">CPF/CNPJ</th>
          <th scope="col">Metodo Pagamento</th>
          <th scope="col">Numero Cartão</th>
          <th scope="col">Situação</th>
          <th scope="col">Valor Pagamento</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody *ngIf="pagamentos$ | async as pagamentos">
        <tr
          *ngFor="let pagamento of pagamentos"
          [class.deleted]="pagamento.deleted">
          <th>{{ pagamento.id }}</th>
          <td>{{ pagamento.cpfCnpj | cpfCnpj }}</td>
          <td>{{ pagamento.metodoPagamento | metodoPagamento }}</td>
          <td>{{ pagamento.numeroCartao | linhaVazia }}</td>
          <td>{{ pagamento.situacao | situacao }}</td>
          <td>{{ pagamento.valorPagamento | currency : 'BRL' }}</td>
          <td>
            <div class="d-flex">
              <button
                type="button"
                class="btn btn-sm btn-primary me-1"
                (click)="openPagamentoUpdateModal(pagamento)"
                [disabled]="pagamento.deleted">
                <i class="bi bi-pencil"></i>
              </button>

              <button
                type="button"
                class="btn btn-sm btn-danger"
                (click)="deletePagamento(pagamento)"
                [disabled]="pagamento.deleted">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr *ngIf="!pagamentos.length">
          <td colspan="12">Sem pagamentos...</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <app-pagination #pagination [collectionSize]="credito.limites.length"> -->
  <!-- </app-pagination> -->
</div>
